* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

#app {
  background-color: rgb(255, 249, 249);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
}

#home {
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 7.5px;
}

.entry {
  box-shadow: 0 0 5px 1px #6bcbff;
  transition: 1s;
  max-width: 200px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.entry:hover {
  box-shadow: 0 0 30px 5px #6bcbff;
  transition: 0.5s;
}

.entry img {
  display: block;
  max-width: 200px; /* valfri storlek */
}

.entry .overlay {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(212, 251, 255);
  padding: 2px 6px;
  font-size: 24px;
  font-style: italic;
  border-radius: 4px;
}
