@font-face {
  font-family: botw-title-font;
  src: url(fonts/botw-title-font.otf);
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: botw-title-font;
  color: rgb(194, 153, 77);
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 60px;
}
p,
li,
span {
  color: white;
}

#app {
  background-image: url("/img/mapbg.jpg");

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#nav {
  width: 100%;
  /* Probably change bg */
  background-image: url("/img/sheikahslatebg.jpg");
  background-size: cover;
  background-position: top -25px right 0px;
  box-shadow: 0 1px 3px 1px #6bcbff;
  /**/
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 30px 30px;
}

#sort {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sortIcon {
    filter: drop-shadow(0px 0px 1px #7cd1ff);
  max-width: 30px;
  margin: 0 7px;
  transition: 1s;
}

#searchIcon, #notesIcon {
  margin: 0px 100px;
  max-width: 35px;
  transition: 1s;
}

#searchIcon {
  max-height: 40px;
  align-self: center;
}

#notesIcon:hover, #searchIcon:hover, .sortIcon:hover {
  filter: drop-shadow(0px 0px 3px #7cd1ff);
  transition: 0.15s;
}

#list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;
}

input {
  display: flex;
  margin: 10px;
  width: 200px;
  padding: 10px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(194, 153, 77);
  transition: 0.3s;
}

#search:focus {
  outline: none;
}

#submit:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.entry {
  box-shadow: 0 0 5px 1px #6bcbff;
  transition: 1s;
  max-width: 200px;
  position: relative;
  display: inline-block;
  margin: 15px;
}

.entry:hover {
  box-shadow: 0 0 15px 5px #7cd1ff;
  transition: 0.15s;
}

.entry img {
  display: block;
  max-width: 200px; /* valfri storlek */
}

.entry .overlay {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(212, 251, 255);
  padding: 2px 6px;
  font-size: 24px;
  font-style: italic;
  border-radius: 4px;
}
