@font-face {
  font-family: botw-title-font;
  src: url(fonts/botw-title-font.otf);
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: botw-title-font;
  color: rgb(194, 153, 77);
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2)
}

h1 {
  font-size: 60px;
}

p {
  color: white;
}

#app {
  /* Squoosh and darken later */
  background-image: url("/img/sheikah-side.webp");
  background-size: cover;
  background-position: top 1500px right 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 10px;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

#home {
  justify-content: center;
  flex-direction: column;
}

#list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  display: flex;
  margin: 10px;
  width: 200px;
  padding: 10px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(194, 153, 77);
  transition: 0.3s;
}

#search:focus {
  outline: none;
}

#submit:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.entry {
  box-shadow: 0 0 5px 1px #6bcbff;
  transition: 1s;
  max-width: 200px;
  position: relative;
  display: inline-block;
  margin: 15px;
}

.entry:hover {
  box-shadow: 0 0 15px 5px #7cd1ff;
  transition: 0.1s;
}

.entry img {
  display: block;
  max-width: 200px; /* valfri storlek */
}

.entry .overlay {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(212, 251, 255);
  padding: 2px 6px;
  font-size: 24px;
  font-style: italic;
  border-radius: 4px;
}
