@font-face {
  font-family: botw-title-font;
  src: url(fonts/botw-title-font.otf);
}

@font-face {
  font-family: FOT-Rodin;
  src: url(fonts/FOT-Rodin.otf);
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: botw-title-font;
  color: rgb(194, 153, 77);
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: 1s;
}

h1 {
  font-size: 60px;
}

p,
li,
span {
  color: white;
  cursor: default;
}

#app {
  background-image: url("/img/mapbg.jpg");
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#bottom-nav {
  width: 10%;
  background-image: url("/img/mapbg.jpg");
  background-size: cover;
  background-position: top -25px right 0px;
  box-shadow: 0 -1px 3px 1px #6bcbff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
}

.navLink {
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(194, 153, 77);
  width: 200px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 12px;
}

.navLink:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
  border: 1px solid rgb(194, 153, 77);
}

.button-bottom-left {
  text-decoration: none;
}

.button-bottom-left h1 {
  font-size: 24px;
  color: #7cd1ff;
}

.button-bottom-left h1:hover {
  filter: drop-shadow(0px 0px 5px #6bcbff);
  transition: 0.15s;
}

/* Navigation CSS */
#nav {
  width: 100%;
  background-image: url("/img/sheikahslatebg.jpg");
  background-size: cover;
  background-position: top -25px right 0px;
  box-shadow: 0 1px 3px 1px #6bcbff;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 1000;
  padding: 30px;
}

#sort {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sortIcon {
  filter: drop-shadow(0px 0px 1px #7cd1ff);
  max-width: 30px;
  margin: 0 7px;
  transition: 1s;
}

#searchIcon,
#notesIcon {
  margin: 0px 100px;
  max-width: 35px;
  transition: 1s;
}

#searchIcon {
  max-height: 40px;
  align-self: center;
}

#notesIcon:hover,
#searchIcon:hover,
.sortIcon:hover,
#closeNotes:hover {
  filter: drop-shadow(0px 0px 7px #7cd1ff);
  transition: 0.15s;
}

#inputField {
  margin: 0 100px 0 0;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(194, 153, 77);
  width: 200px;
  opacity: 1;
  padding: 10px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
}

#submit:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

/* Compendium(json display) CSS */
#list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;
}

.entry {
  box-shadow: 0 0 5px 1px #6bcbff;
  transition: 2s;
  max-width: 200px;
  position: relative;
  display: inline-block;
  margin: 15px;
}

.entry:hover {
  box-shadow: 0 0 15px 5px #7cd1ff;
  transition: 0.15s;
}

.entry img {
  display: block;
  max-width: 200px;
}

.entry .overlay {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: rgb(212, 251, 255);
  padding: 2px 6px;
  font-size: 24px;
  font-style: italic;
  border-radius: 4px;
}

/* Notes CSS */
.popUp {
  background-image: url("/img/sheikahslatebg.jpg");
  background-size: cover;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 5px 1px #6bcbff;
  width: 700px;
}

.popUp.active {
  display: block;
}

.notesHeader {
  display: flex;
  justify-content: space-between;
}

.notesHeader h2 {
  font-size: 26px;
}

#gNotesForm {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

#gNotesForm div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#gNotesText {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  box-shadow: 0 0 2px 1px #6bcbff;
  margin: 10px;
  height: 200px;
  color: white;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 0.2px;
}

.notesButton {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border: 1px solid rgb(194, 153, 77);
  padding: 10px 20px;
  margin: 5px;
  z-index: 1000;
  transition: 1s;
}

.notesButton:hover {
  filter: drop-shadow(0px 0px 5px rgb(194, 153, 77));
  transition: 0.15s;
}

#closeNotes {
  max-width: 20px;
  max-height: 20px;
  transition: 1s;
}

#details { /* Continue here */
  justify-content: space-between;
}

#infoRight {
  display:flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  #nav {
    background-position: top -10px right 0px;
    padding: 20px;
  }

  #list {
    margin: 20px 30px;
  }

  .entry {
    max-width: 150px;
  }

  .entry img {
    display: block;
    max-width: 150px;
  }

  .entry .overlay {
    font-size: 20px;
  }

  #searchIcon,
  #notesIcon {
    margin: 0px 30px;
  }

  #bottom-nav {
    width: 15%;
    height: 60px;
  }

  #inputField {
    margin: 0 35px 0 0;
    width: 150px;
    padding: 5px;
  }

  .popUp {
    background-position: top 0px right -75px;
    width: 500px;
  }

  #title {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  #nav {
    background-position: top 0px right 0px;
  }

  #list {
    margin: 10px 10px;
  }

  .entry {
    max-width: 120px;
    margin: 10px;
  }

  .entry:hover {
    box-shadow: 0 0 10px 3px #7cd1ff;
  }

  .entry img {
    max-width: 120px;
  }

  #bottom-nav {
    width: 20%;
  }

  #inputField {
    margin: 0 35px 0 15px;
    width: 100px;
  }

  .popUp {
    background-position: top 0px right -180px;
    width: 300px;
  }
}
